﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="Home.aspx.cs" Inherits="CSCI411MainApp.Pages.Home" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="SiteContent" runat="server">

</asp:Content>
