﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/GamesMaster.Master" CodeBehind="UserHome.aspx.cs" Inherits="CSCI411MainApp.Pages.UserHome" %>
<%@ Register Src="~/UserControls/navigation.ascx" TagPrefix="site" TagName="navbar" %>

<asp:Content ContentPlaceHolderID="MainContent" runat="server">

    <asp:Label ID="lblWelcome" CssClass="welcome" runat="server" Text="Welcome"></asp:Label>

</asp:Content>

