﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GamesMaster.master.cs" Inherits="CSCI411MainApp.GamesMaster" %>
<%@ Register Src="~/UserControls/navigation.ascx" TagPrefix="site" TagName="navbar" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Game of Buttons</title>

    <link rel="stylesheet" type="text/css" href="Site.css"/> 

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <site:navbar runat="server"></site:navbar>

        <asp:ContentPlaceHolder ID="MainContent" runat="server">
           
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
