﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #363636;
    background-image: linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25)), 
                      linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25));
    background-position:0 0, 2px 2px;
    background-size:4px 4px;
    color: white;
}

.popUpPanel {
    margin-left: 165px; 
    width: 930px;
    height: 500px;
    border: 3px solid red;
}

.roundButton{
      display:block;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 3px solid red;
      margin-left: auto;
      margin-right: auto;
      top: 300px;
}

.roundButtonBronze{
      display:block;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 3px solid #CD7F32;
      margin-left: auto;
      margin-right: auto;
      top: 300px;
}

.roundButtonSilver{
      display:block;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 3px solid silver;
      margin-left: auto;
      margin-right: auto;
      top: 300px;
}

.roundButtonGold{
      display:block;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 3px solid gold;
      margin-left: auto;
      margin-right: auto;
      top: 300px;
}

.roundButton:hover {
    cursor: crosshair;    
}

.roundButtonBronze:hover {
    cursor: crosshair;    
}

.roundButtonSilver:hover {
    cursor: crosshair;    
}

.roundButtonGold:hover {
    cursor: crosshair;    
}

.logoutBtn {
    position:fixed;
    left: 1200px;
    top: 25px;

}

.left {
    position: fixed;
    left: 25px;
    top: 25px; 
}

.welcome {
    position: fixed;
    left: 150px;
    top: 0;
    font-size: 46px;
}

.Login{
    position: fixed;
    margin-left: 940px;
    top: 17px;
    left: 10px;
    height: 175px;
}

.loginBtn{
    list-style-type: none;
    padding: 5px;
    background-color: #f1f1f1;
}

.loginBtn:hover{
    background-color: red;
}

.Register{
    position: fixed;
    margin-left: 940px;
    top: 200px;
    left: 10px;
    height: 175px;
    text-decoration-color: white;
}

ul {
    list-style-type: none;
    padding: 5px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: black;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

/* Keep left: between 185-1050 and top: between 90-550 */
.btnPos1 {
    
    position:absolute;
    transition: .5s ease;
    left: 471px;
    top: 167px;
}

.btnPos2 {
    position:absolute;
    transition: .5s ease;
    left: 434px;
    top: 457px;
}
.btnPos3 {
    
    position:absolute;
    transition: .5s ease;
    left: 591px;
    top: 230px;
}

.btnPos4 {
    position:absolute;
    transition: .5s ease;
    left: 713px;
    top: 366px;
}
.btnPos5 {
    
    position:absolute;
    transition: .5s ease;
    left: 492px;
    top: 427px;
}

.btnPos6 {
    position:absolute;
    transition: .5s ease;
    left: 885px;
    top: 534px;
}
.btnPos7 {
    
    position:absolute;
    transition: .5s ease;
    left: 213px;
    top: 301px;
}

.btnPos8 {
    position:absolute;
    transition: .5s ease;
    left: 652px;
    top: 308px;
}
.btnPos9 {
    
    position:absolute;
    transition: .5s ease;
    left: 983px;
    top: 253px;
}

.btnPos10 {
    position:absolute;
    transition: .5s ease;
    left: 752px;
    top: 213px;
}