﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="CSCI411MainApp.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="lbIPAddress" runat="server" Text="Label"></asp:Label>
    
        <br />
        <asp:Button ID="btnSubmit" OnClick="btnSubmit_Click" runat="server" Text="Button" />
    
        <br />
        <asp:TextBox ID="tbIPAddress" runat="server"></asp:TextBox>
    
    </div>
    </form>
</body>
</html>
