﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/GamesMaster.Master" CodeBehind="KingOfHill.aspx.cs" Inherits="CSCI411MainApp.Pages.Games.KingOfHill" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>
